// Color Scheme 
$primary-color: #e76768;          // light red
$secondary-color: #fdfafb;        // light yellow
$secondary-dark-color: #fafad2;   // light yellow
$accent-color: #353839;           // black
$accent-dark-color: #2b2b2b;            // black darker
$gray-color: #e6e6e7;             // light gray;
$white-color: #ffffff;            // white

// Fonts 
@font-face {
  font-family: mainFont;
  src: url('./assets/fonts/Parkinsans-VariableFont_wght.ttf');
}
@font-face {
  font-family: VSCode;
  src: url('./assets/fonts/Consolas.ttf');
}

// Styles 
body, html {
  background-color: $secondary-color;
  font-family: mainFont;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#App {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  main {
    margin-left: 250px;
    width: 100%;
  }
}

#Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

  // section {
  //   display: flex;
  //   flex-direction: column;
  //   // justify-content: space-between;
  //   align-items: center;
  //   align-content: center;
  //   z-index: 1;

    #HeroContent {
      z-index: 5;
      display: block;
      margin: 0 auto;
      transform: translateY(50px);
    }
    #TypedMessage {
      display: flex;
      font-size: 2rem;
      padding: 20px;
      font-weight: bold;
      text-align: center;
      color: white;
      width: auto;
      font-family: VSCode;
      width: 570px;
      background-color: $accent-color;
      margin: 10px;
      border-radius: 5px;

      div {
        text-align: left;
        padding-left: 15px;
        width: 100%;
      }
      article {
        // position: absolute;
        padding-right: 15px;
        color: #858585;
        border-right: 2px solid #858585;
        width: 30px;
      }
    }
  
  #IntroText {
    font-family: VSCode !important;
  }
  #Me {
    display: flex;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    border: 3px solid $accent-color;
    justify-content: center;
    align-items: center;
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #BottomHero {
    width: 100%;
    // object-fit: contain;
    height: 420px;
    // position: relative;
    // bottom: 0px;
    z-index: 1;
  }
}
#About {
  margin: 5rem;
  font-size: 1.3rem;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px
  }
  h3 {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  p {
    padding: 10px;
  }
}
#NavDesktop {
  height: 100vh;
  border-right: 3px solid $accent-color;
  width: 250px;
  position: fixed;
  left: 0;
  z-index: 3;

  ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: $secondary-color;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 2rem;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: $accent-dark-color;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        transition: all 0.3s;
      }
    }
    .active {
      background-color: $accent-color;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }
}
// h1 {
//   color: $primary-color;
//   font-size: 5rem;
//   text-align: center;
//   padding-bottom: 50px;
// }
nav {
  background-color: $primary-color;
}